{%extends "home.html"%}
{%block modal%}
<div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Predicted Price</h3>
        <a href="{{url_for('views.home')}}" type="button" id="closeButton"  class="btn close" >
            <span aria-hidden="true">&times;</span>
        </a>
      </div>
      <div id="result" class="modal-body">
        <form>
          <div class="form-group">
            <div>The Predicted Price for the house is $({{pred}})</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <a href="{{url_for('views.home')}}" type="button" id="btnAgain" class="btn">Predict Again
          
        </a>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block script%}
<script>
    $(document).ready(function () {
        console.log("window is loaded")
        $("#exampleModal").modal("show")
    })
</script>
{%endblock%}